<div class="container">
  <h1 class="text-center"><%= @shelter.name %></h1>
  <ul class= "text-center list-unstyled">
    <li>Address: <%= @shelter.address %></li>
    <li>Contact: <%= @shelter.contact %></li>
    <li>Email: <%= @shelter.email %></li>
    <%= link_to "Add new pet", new_shelter_pet_path(@shelter), class: "btn btn-flat mt-3"%>
  </ul>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>


<div class="container justify-content-center mt-3">
  <h3 class= "text-center mb-3">Available</h3>
  <div class="cards">
    <% @shelter.pets.each do |pet| %>
      <% if pet.adopted == false %>
        <div class="card">
        <%= link_to pet_path(pet) do %>
          <%= cl_image_tag pet.photos.first.key, height: 300, width: 400, crop: :fill, class:"card-img-top" %>
        <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= link_to pet.name, pet_path(pet) %>
            <% if !current_user.nil? %>
              <% if (current_user.like_ids & pet.like_ids).any? %>
                <%= link_to icon("fas","heart"), pet_like_path(pet, Like.find_by_pet_id(pet)), method: :delete %>
              <% else %>
                <%= link_to icon("far","heart"), pet_likes_path(pet.id), method: :post %>
              <% end %>
            <% end %>
            </h5>
            <p class="card-text text-center"><%= pet.breed %><br>$<%= pet.fee %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>




<div class="container justify-content-center mt-3">
  <h3 class= "text-center mb-3">Adopted</h3>
  <div class="cards">
    <% @shelter.pets.each do |pet| %>
      <% if pet.adopted == true %>
        <div class="card">
        <%= link_to pet_path(pet) do %>
          <%= cl_image_tag pet.photos.first.key, height: 300, width: 400, crop: :fill, class:"card-img-top" %>
        <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= link_to pet.name, pet_path(pet) %>
            <% if !current_user.nil? %>
                <% if (current_user.like_ids & pet.like_ids).any? %>
                  <%= link_to icon("fas","heart"), pet_like_path(pet, Like.find_by_pet_id(pet)), method: :delete %>
                <% else %>
                  <%= link_to icon("far","heart"), pet_likes_path(pet.id), method: :post %>
                <% end %>
              <% end %>
              </h5>
            <p class="card-text text-center"><%= pet.breed %><br>$<%= pet.fee %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
