<div class="container">
  <h1 class="text-center"><%= @shelter.name %></h1>
  <ul class= "text-center list-unstyled">
    <li>Address: <%= @shelter.address %></li>
    <li>Contact: <%= @shelter.contact %></li>
    <li>Email: <%= @shelter.email %></li>
    <% if !current_user.shelter.nil? || current_user.shelter == @shelter %>
      <%= link_to "Add new pet", new_shelter_pet_path(@shelter), class: "btn btn-flat mt-3"%>

      <%# trying to add new post on a button %>
      <button type="button" class="btn-show btn-lg fas fa-pencil-alt" data-toggle="modal" data-target="#exampleModal"></button>

      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content new-post-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Create new post</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>

            <div class="modal-body">
              <%= simple_form_for [@shelter, @pet] do |f| %>
                <%= f.input :name %>
                <%= f.input :animal, collection: ["Cat", "Dog"] %>
                <%= f.input :breed %>
                <%= f.input :color %>
                <%= f.input :gender, collection: ["Female", "Male"]%>
                <%= f.input :fee %>
                <%= f.input :age %>
                <%= f.input :sterilised, collection: ["Yes", "No"]  %>
                <%= f.input :overview %>
                <%= f.input :photos, as: :file, input_html: { multiple: true } %>
                <%= f.submit "Create new listing", class: "btn btn-ghost" %>
              <% end %>
            </div>

          </div>
        </div>
      </div>


    <% end %>
  </ul>
</div>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>


<div class="container justify-content-center mt-3">
  <h3 class= "text-center mb-3">Available</h3>
  <div class="cards">
    <% @shelter.pets.each do |pet| %>
      <% if pet.adopted == false %>
        <div class="card">
        <%= link_to pet_path(pet) do %>
          <%= cl_image_tag pet.photos.first.key, height: 300, width: 400, crop: :fill, class:"card-img-top" %>
        <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= link_to pet.name, pet_path(pet) %>
            <% if !current_user.nil? %>
              <% if (current_user.like_ids & pet.like_ids).any? %>
                <%= link_to icon("fas","heart"), pet_like_path(pet, Like.find_by_pet_id(pet)), method: :delete %>
              <% else %>
                <%= link_to icon("far","heart"), pet_likes_path(pet.id), method: :post %>
              <% end %>
            <% end %>
            </h5>
            <p class="card-text text-center"><%= pet.breed %><br>$<%= pet.fee %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>




<div class="container justify-content-center mt-3">
  <h3 class= "text-center mb-3">Adopted</h3>
  <div class="cards">
    <% @shelter.pets.each do |pet| %>
      <% if pet.adopted == true %>
        <div class="card">
          <%= link_to pet_path(pet) do %>
            <%= cl_image_tag pet.photos.first.key, height: 300, width: 400, crop: :fill, class:"card-img-top" %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title text-center"><%= link_to pet.name, pet_path(pet) %>
            <% if !current_user.nil? %>
                <% if (current_user.like_ids & pet.like_ids).any? %>
                  <%= link_to icon("fas","heart"), pet_like_path(pet, Like.find_by_pet_id(pet)), method: :delete %>
                <% else %>
                  <%= link_to icon("far","heart"), pet_likes_path(pet.id), method: :post %>
                <% end %>
              <% end %>
              </h5>
            <p class="card-text text-center"><%= pet.breed %><br>$<%= pet.fee %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
