<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <form action="#" method="get">
        <div class="col form-group">
            <select name="breed" class="form-control">
                <option value="">--- select breed ---</option>
              <% @pet_breed.each.uniq do |breed| %>
                <option value="<%= breed %>"><%= breed %></option>
            <% end %>
          </select>
        </div>
        <div class="col form-group">
          <select name="gender" class="form-control">
            <option value="">--- select gender---</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
      <div class="col form-group">
        <input type="number" placeholder="Min age" name="age[min_age]" value="<%= @min_age %>" class="form-control">
      </div>
       <div class="col form-group">
        <input type="number" placeholder="Max age" name="age[max_age]" value="<%= @max_age %>" class="form-control">
        </div>
        <input name="Submit" type="submit" value="Search" class="btn btn-primary"/>
      </form>
    </div>
    <div class="col-8">
      <div class="cards mt-3">
        <%= render @pets %>
      </div>
    </div>
  </div>
</div>
