<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <%= simple_form_for [@shelter, @pet] do |f| %>
        <%= f.input :name %>
        <%= f.input :animal, collection: ["Cat", "Dog"] %>
        <%= f.input :breed %>
        <%= f.input :color %>
        <%= f.input :gender %>
        <%= f.input :fee %>
        <%= f.input :age %>
        <%= f.input :sterilised, collection: ["Yes", "No"]  %>
        <%= f.input :overview %>
        <%= f.input :photos, as: :file, input_html: { multiple: true } %>
        <%= f.submit "Create new listing", class: "btn btn-ghost" %>
      <% end %>
    </div>
  </div>
</div>
