<img src= <%= @pet.image_url %> />
<h1><%= @pet.name %></h1>
<ul>
<li>Breed: <%= @pet.breed %></li>
<li>Color: <%= @pet.color %></li>
<li>Adoption Fee: $<%= @pet.fee %></li>
<li>Age: <%= @pet.age %> years old</li>
<li>Sterilised: <%= @pet.sterilised %></li>
</ul>
<h2>Shelter Details</h2>
<ul>
<li>Name: <%= @pet.shelter.name %></li>
<li>Address: <%= @pet.shelter.address %></li>
<li>Contact: <%= @pet.shelter.contact %></li>
<li>Email: <%= @pet.shelter.email %></li>
</ul>