<div class="cards">
  <% pets.each do |pet| %>
    <div>
      <div class="card" style="width: 14rem; ">
        <img src="<%= pet.image_url%>" class="card-img-top" alt="<%= pet.name%>">
        <div class="card-body">
         <h5 class="card-title text-center"><%= link_to pet.name, pet_path(pet) %></h5>
         <p class="card-text text-center"><%= pet.breed %><br>$<%= pet.fee %></p>
        </div>
        <% if !current_user.nil? %>
          <% if (current_user.like_ids & pet.like_ids).any? %>
            <%= link_to icon("fas","heart"), pet_like_path(pet, Like.find_by_pet_id(pet)), method: :delete %>
          <% else %>
            <%= link_to icon("far","heart"), pet_likes_path(pet.id), method: :post %>
          <% end %>
        <% end %>
       </div>
    </div>
  <% end %>
</div>
